.search {
  background-color: #E3EAF4;
  padding: 10px;
  text-align: left;
}

.search-input {
  background-color: #ffffff;
  background-image: url('../mag-grey.svg');
  background-repeat: no-repeat;
  background-position: 10px 5px;
  background-size: auto 90%;
  border: 0;
  border-radius: 10px;
  font-size: 1rem;
  padding: 10px 10px 10px 40px;
}