.App {
  text-align: center;
}

.header {
  background-color: #091217;
  height: 150px;
  padding: 50px;
  color: white;
}

.small {
  font-size: 0.8rem;
}

.strike {
  text-decoration: line-through;
}