.App {
  text-align: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  left: -10000px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; 
}

.header {
  background-color: #091217;
  height: 150px;
  padding: 50px;
  color: white;
}

.small {
  font-size: 0.8rem;
}

.strike {
  text-decoration: line-through;
}